body            { font-family: Verdana, sans-serif; background: #000000; }
a, h2       	{ color: #377ba8; }
h1              { font-family: Georgia, serif; color: #000000; font-size: 3em;}
h2              { font-size: 1.4em; font-family: Verdana, Geneva, sans-serif; margin: 0; }
h3              { font-size: 1em; }

.page           { margin: 2em auto; width: 35em; border: 2.5px solid #ccc;
                  padding: 0.8em; background: lightblue; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

 @font-face {
     font-family: 'Bonvenocf';
     src: url('BonvenoCF-Light-webfont.eot');
     src: url('BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
     url('BonvenoCF-Light-webfont.woff') format('woff'),
     url('BonvenoCF-Light-webfont.ttf') format('truetype'),
     url('BonvenoCF-Light-webfont.svg#ChunkFiveRegular') format('svg');
     font-weight: normal;
     font-style: normal;