{% extends "layout.html" %}
{% block body %}
  <h2>Crop Information</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('crops') }}" method=post>
    <dl>
      <dt>Crop Name:
      <dd><input type=text name=cropname>
      <dt>Number of Beds:
      <dd><input type=text name=numberbeds>
      <dd><input type=submit value=Submit>
    </dl>
  </form>

  <form>
    <dl>
      <h2>Flexability for the crop</h2>
      <dt>Flexability in weeks:
      <dd><input type=text name=flexweek>
      <dt>Flexability in beds:
      <dd><input type=text name=flexbeds>
      <dd><input type=submit value=Submit>
    </dl>
  </form>

    <form>
    <dl>
      <h2>Tending processes for the crop</h2>
      <dt>Add processes:
      <dd><input type=text name=flexweek>
      <dt>Weeks for added process:
      <dd><input type=text name=flexbeds>
      <dd><input type=submit value=Submit>
    </dl>
  </form>
  <ul>
    {% for n in entries %}
    <li>{{n}}</li>
    {% endfor %}
  </ul>

{% endblock %}