{% extends "layout.html" %}

{% block body %}
	{% if session.logged_in %}

  <div class="row">
  <div class="six columns">
    <h3>Labor Information</h3>
    <head lang="en">
    <meta charset="UTF-8">
    <script language="JavaScript">
    function showInput() {
    var season_length =  document.getElementById("user_input1").value;
    var hours_week =  document.getElementById("user_input2").value;
    var season_start =  document.getElementById("user_input3").value;
    document.getElementById('display0').innerHTML = season_length;
    document.getElementById('display1').innerHTML = hours_week;
    document.getElementById('display2').innerHTML = season_start;
    }
    </script>
    </head>
    <body>
    <form>
    <label><b>How many weeks long is your growing season?</b></label>
    <input type="text" name="message" id="user_input1">
    <label><b>How many hours will you work per week?</b></label>
    <input type="text" name="message" id="user_input2">
    <label><b>When will your growing season start?</b></label>
    <input type="date" name="message" id="user_input3">
    </form>
    <input type="submit" onclick="showInput();"><br />
    <label>Your input: </label>   
    <p><span id='display0'></span></p>
    <p><span id='display1'></span></p>
    <p><span id='display2'></span></p>
  </div>

  <div class="six columns">
    <h4>Table of Labor Info</h4>
		<table border="1" width="100%">
			<tr>
			<th>Week Number</th>
			<th>Labor Hours per Week</th>
			</tr>
			{% for week in weeks %}
			<tr>
			<td>{{ week.id }}</td>
			<td>{{ week.hours }}</td>
			</tr>
			{% else %}
			<em>No weeks added yet.</em>
		 {% endfor %}
		 </table>
		 <br>
  </div>
  </div>

  <div class="row">
  <div class="six columns">
		<h3>Crop Information</h3>
		<h4>Add Crops</h4>
		<form action="{{ url_for('add_crop') }}" method=post class=add-crop>
			<dl>
				<dt>Crop Name:
				<dd><input type=text name=cropname>
				<dt>Date starting:
				<dd><input type=date name=startdate>
				<dt>Number of Beds:
				<dd><input type=text name=numbeds>
        		<dt>Total Number of weeks for crop:
        		<dd><input type=text name=numweeks>
				<dd><input type=submit value=Add>
			</dl>
		</form>
  </div>
		
  <div class="six columns"> 
		<p></p>
		<h4>Your Crops</h4>
    	<br>
		<table border="1" width="100%">
			<tr>
			<th>Crop Name</th>
			<th>Starting Date</th>
			<th>Number of beds</th>
      		<th>Number of Weeks</th>
			</tr>
			{% for crop in crops %}
			<tr>
			<td>{{ crop.cropname }}</td>
			<td>{{ crop.startdate|safe }}</td>
			<td>{{ crop.numbeds}}</td>
      		<td>{{ crop.numweeks}}</td>
			</tr>
			{% else %}
			<em>No crops added yet.</em>
		 {% endfor %}
		</table>
		<br>
  </div>
  </div>

  <div class="row">
  <div class="six columns">
		<h3>Crop Tending Processes</h3>
    <h4>Select Crop</h4>
  	<select>
  		{% for crop in crops %}
  		<option value="cropname">{{crop.cropname}} - {{crop.startdate}}</option>
  		{% else %}
  		<option value="none">None</option>
  		{% endfor %}
  	</select>

  		<h4>Tending processes {{cropname}}</h4>
		<form action="{{ url_for('add_process') }}" method=post class=add-process>
		<dl>
			<dt>Add processes:
			<dd><input type=text name=process>
			<dt>Weeks for added process:
			<dd><input type=integer name=pweeks>
      		<dt>Hours per week:
      		<dd><input type=integer name=phours>
			<dd><input type=submit value=Add>
		</dl>
    </form>
  </div>

  <div class="six columns">
    <p></p>
    <h4>Your Tending Processes</h4>
    <table border="1" width="100%">
      <tr>
      <th>Crop Name</th>
      <th>Tending Process</th>
      <th>Week</th>
      <th>Hours Per Week</th>
      </tr>
      {% for process in processes %} 
      <tr>
      <td>{{ process.cropname }}</td>
      <td>{{ process.process }}</td>
      <td>{{ process.pweeks }}</td>
      <td>{{ process.phours }}</td>
      </tr>
      {% else %}
      <em>No processes added yet.</em>
     {% endfor %}
    </table>
    <br>
  </div>
  </div>

  <div class="row">
    <h3>Your Planting Timetable</h3>
    <table border="1" width="100%">
      <tr>
      <th>Crop Name</th>
      {% for week in range(0,totalweeks) %}
      <th>Week {{ week.id }}</th>
      {% endfor %}
      </tr>
      {% for crop in crops %}
      {% for week in range(0,totalweeks) %}
      <tr>
      <td>{{ crop.cropname }}</td>
      <td>{{ crop.pweeks }}</td>
      <td>{{ crop.phours}}</td>
      </tr>
      {% else %}
      <em>No crops added yet.</em>
     {% endfor %}
     {% endfor %}
    </table>
    <br>
  </div>

	{% endif %}
	 
{% endblock %}